<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ./partials/_head %>
    <% include ./partials/_header%>
    <script type="text/javascript" src="/scripts/event_results.js"></script> 
  </head>
  
  <body>
    <header>
     <!-- our own header with share event button toggle-->
    </header>

<!-- Page-specific (main) content here -->
    <main class="event-page-container">
      <section class="event-info-container">
        <h1 class="shareEventTitle" class="shareEventTitle"> <%=title%> </h1>
        <h4><i class="fa fa-map-marker"></i><span class="eventInfo" name="eventInfo"> Where:</span> <%=location%> </h4>
        <h5><span class="eventInfo" name="eventInfo"><i class="fa fa-users"></i> Event details: </span><%=description%></h5>
       

        <div class="share-event-container">
      
          
          <h5 class="sharingDescription" name="sharingDescription"><i class="fa fa-share-square"></i> Share and invite more people!</h5>
          <div class="input-group mb-3">
            <input class="eventUrl" type="text" name="eventUrl" value=" http://localhost:8080/e/<%= eventUrl%>" id="myInput">
            <div class="input-group-append" >
            <button class="btn btn-outline-secondary" type="button">Copy link</button>
          </div>

          </div>
        </div>
      </section>

        <!-- Share event link content here -->


      <section class="event-results-container">
        <table class="table">
          <thead class="thead-dark" class="tableHeading" name="tableHeading">
            <tr>
              <th scope="col"><button class="addNewAttendee" name="addNewAttendee"><span><i class="fa fa-plus-circle"></i></span></button></th>
              <th scope="col"> Name </th>
              <th scope="col">Email</th>

    <!-- Timeslots from database-->
              <!-- <th  class="timeDateContainer" name="timeDateContainer" scope="col" ></th> -->
                <% for (let i = 0; i < timeslot.length; i++) { %>
                  <% let trimmedTime = timeslot[i].start_date %>
                  <% let stringtime= trimmedTime.toString() %>
                  <th class="dategiven" name="dategiven"> 
                    <%= stringtime.substring(0,10) %> <br>
                    <%=timeslot[i].start_time%> to <%=timeslot[i].end_time%>
                  </th>
                <% } %>

            </tr>
          </thead>

          
<!-- Append attendees rows + edit and delete options -->
          <tbody>
            <tr class="attendee-row" name="attendee-row">
              <th scope="row" >
                <button class="editAttendee" name="editAttendee"><span><i class="fa fa-pencil"></i></span></button>
                <button class="deleteAttendee" name="deleteAttendee"><span><i class="fa fa-trash"></i></span></button>
              </th>

              <form action="/api/attendees/" method="POST" id="attendee-input">
                <td><input type="text" class="form-control" class="typeName" name="typeName" placeholder="name"> </td>
                <td><input type="text" class="form-control" class="typeEmail" name="typeEmail" placeholder="email"> </td>

                <% for (let i = 0; i < timeslot.length; i++) { %>
                <td><input type="checkbox" class="checkbox-input" name="checkbox-input" value="checkbox-input"></td>
                <% } %>

            </tr>
          </tbody>
        </table>

        <br>
        <input type="submit" class="result-submitButton" name="result-submitButton" value="submit"> 
        </form>
      </section>
    </main> 

    <footer>
      <% include ./partials/_footer %>
    </footer>
  </body>
</html>
