<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ./partials/_head %>
    <% include ./partials/_header%>
    <script type="text/javascript" src="/scripts/event_results.js"></script> 
  </head>
  
  <body>
    <header>
     <!-- our own header with share event button toggle-->
    </header>

<!-- Page-specific (main) content here -->
    <main class="event-page-container">
      <section class="event-info-container">
        <h1 class="shareEventTitle" class="shareEventTitle"> <%=title%><br> <h5><%=creator_name%> <br> <%=creator_email%> </h5> </h1>
        <h4><i class="fa fa-map-marker"></i><span class="eventInfo" name="eventInfo"> Where:</span> <%=location%> </h4>
        <h5><span class="eventInfo" name="eventInfo"><i class="fa fa-users"></i> Event details: </span><%=description%></h5>
       

          <h5 class="sharingDescription" name="sharingDescription"><i class="fa fa-share-square"></i> Share and invite more people!</h5>
          <div class="input-group mb-3">
            <input id="result-eventUrl" type="text" name="eventUrl" value=" http://localhost:8080/e/<%= eventUrl%>" id="myInput">
            <div class="input-group-append" >
              <button class="btn btn-outline-secondary" id="result-copy-btn" type="button">Copy link</button>
            </div>
          </div>
      </section>

        <!-- Share event link content here -->


      <section class="event-results-container">
        <table class="table">
          <thead class="thead-dark" class="tableHeading" name="tableHeading">
            <tr>
              <th scope="col"><button id="addNewAttendee" name="addNewAttendee" class="btn btn-danger btn-xs"><span><i class="fa fa-plus-circle"></i></span></button></th>
              
              <th  scope="col"><h3 class="nameEmail" name="nameEmail">Name</h3></th>
              <th  scope="col"><h3 class="nameEmail" name="nameEmail">Email</h3></th>
              

    <!-- Timeslots from database-->
              <!-- <th  class="timeDateContainer" name="timeDateContainer" scope="col" ></th> -->
                <% for (let i = 0; i < timeslot.length; i++) { %>
                  <% let trimmedTime = timeslot[i].start_date %>
                  <% let stringtime= trimmedTime.toString() %>
                  <th class="dategiven" name="dategiven"> 
                    <%= stringtime.substring(0,10) %> <br>
                    <%=timeslot[i].start_time%> to <%=timeslot[i].end_time%>
                  </th>
                <% } %>

            </tr>
          </thead>
 
         
<!-- Append attendees rows + edit and delete options -->
          <tbody class="results-container">
            <tr class="attendee-row" name="attendee-row">
              <th scope="row" >
                <a href=""><span id="editAttendee" name="editAttendee"><h4><i class="fa fa-pencil"></i></h4></span></a>
              </th>

              <form action="/e/<%=eventUrl%>" method="POST" id="attendee-input">
                <td><input type="text" class="form-control" class="typeName" name="typeName" placeholder="name"></td>
                <td><input type="text" class="form-control" class="typeEmail" name="typeEmail" placeholder="email"> </td>

                <% for (let i = 0; i < timeslot.length; i++) { %>
                <td><input type="checkbox" class="checkbox-input <%=i%>" name="checkbox-input" value="checkboxInput-<%=i%>"></td>
                <% } %>
            </tr>
          </tbody>
        </table>

        <br>
        <section class="submitButtonContainer" name="submitButtonContainer">
          <button id="submit-btn" class="btn btn-danger wow fadeInDown">Update Attendees List</button>
        </section>

        </form>
      </section>
    </main> 

    <footer>
      <% include ./partials/_footer %>
    </footer>
  </body>
</html>
